

.background-div1{
 background-image: url(images/images.22.jpg);
 background-position: top center;
 background-repeat: no-repeat;
 background-size: 100%;
 background-attachment: fixed;
 width: 100%; 
 height: 700px;
 margin-top: 0px;
}


.h1-text{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 300%;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 200px;
  margin-top: 0px;
}

.h2-text{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 230%;
  text-align: center;
  padding-top: 10px;
  margin: 0px;
}

.intro-div{
  text-align: center;
}

.intro-text{
  font-size: 105%;
}

.intro-text1{
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 5px;
}

.desc-div{
  display: flex;
}

.desc-text{
  font-size: 120%;
  margin-bottom: 0px;
}

.choose-div{
  font-size: 150%;
}

.choose{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.feat{
  font-size: 120%;
  line-height: 150%;
  color: rgb(167, 167, 41);
  display: inline-block;
}

.feat-img{
  width: 50%;
  float: right;
}

.feat-img-div{
  display: inline-block;
  width: 55%;
}

.main-div{
  background-image: url(images/images.1.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.body-div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.repair-div{
  width: 20%;
  background-color: white;
  margin: 1.5%;
}

.work-img-div{
  width: 100%;
  display: inline-block;
}

.work-img{
  width: 100%;
}

.work-intro{
  text-align: center;
}

.work-desc{
  font-size: 150%;
  font-weight: bold;
}

.work-intro1{
  font-size: 120%;
  color: rgb(167, 167, 41);
}

.special-feat-div{
  display: block;
  text-align: center;
}

.special-feat{
  font-size: 190%;
}

.special-div{
  color: rgb(167, 167, 41);
  font-size: 120%;
}

.vehicle-div{
  background-image: url(images/images.20.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 305px;
}

.vehicles{
  font-size: 180%;
  color: black;
  text-align: center;
}

.vehicle-intro{
  color: rgb(167, 167, 41);
  text-align: center;
}

.car-list-div{
  color: rgb(167, 167, 41);
  text-align: center;
  font-weight: bold;
}

.overview{
  text-align: center;
}

.overview1{
  color: rgb(167, 167, 41);
  font-size: 140%;
}

.experts{
  color: rgb(167, 167, 41);
  font-size: 140%;
}

.expert-div{
  background-image: url(images/images.18.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  height: 390px;
  display: flex;
  justify-content: space-between;
}

.expert-body-div{
  width: 20%;
  display: inline-block;
  padding:1%;
}

.expert{
  width: 100%;
  margin-bottom: 2px;
}

.expert-img{
  width: 100%;
}

.expert-work{
  background-color: grey;
  font-size: 130%;
  color: white;
  margin-top: 2px;
  text-align: center;
}

.expert-name{
  margin-top: 2%;
  margin-bottom: 2%;
}

.work{
  font-size: 150%;
  text-align: center;
  margin-bottom: 1%;
}

.work-desc-info{
  text-align: center;
  font-size: 130%;
  color: rgb(167, 167, 41);
  text-decoration: underline;
  margin-top: 1%;
}

.appointment-div{
  background-color: rgb(167, 167, 41);
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: space-between;
}

.appoint-div{
  color: white;
  display: inline-block;
  width: 20%;
  font-size: 120%;
  text-align: center;
}

.appointment-form{
  background-image: url(images/images.20.jpg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 340px;
  display: flex;
  justify-content: center;
}

.fieldset{
  text-align: center;
  width: 70%;
}

.input-text{
  width: 35%;
  font-size: 90%;
  padding: 1%;
  color: white;
  background-color: transparent;
  border-radius: 7%;
  border-color: rgb(167, 167, 41);
  border-top-color: rgb(243, 243, 13);
  margin-bottom: 0.2%;
}

.input-text1{
  width: 37%;
  font-size: 90%;
  padding: 1%;
  color: white;
  background-color: transparent;
  border-radius: 7%;
  border-color: rgb(167, 167, 41);
  border-top-color: rgb(243, 243, 13);
  border-bottom-color: rgb(243, 243, 13);
}

.input-text1:hover{
  /* background-color: grey; */
}

.list{
  background-color: grey;
}

.text-area{
  width: 73%;
  font-size: 100%;
  padding: 1%;
  color: white;
  background-color: transparent;
  border-radius: 2%;
  border-color: rgb(167, 167, 41);
  border-top-color: rgb(243, 243, 13);
  border-bottom-color: rgb(243, 243, 13);
}

.button{
  font-size: 100%;
  color: white;
  background-color: rgb(167, 167, 41);
  border: none;
  border-radius: 5%;
  padding: 0.5%;
  cursor: pointer;
  transition: 0.5s;
}

.button:active{
  background-color: white;
  color: rgb(167, 167, 41);
}

.footer-div{
  background-image: url(images/images.20.jpg);
  width: 100%;
  margin-top: 0.4%;
  display: inline-block;
}

.copy-right{
  color: white;
  display: inline-block;
  margin-right: 2%;
}

.social{
  display: inline;
  padding-left: 34%;
}

.social-div{
  display: inline-block;
  margin-right: 1%;
  color: white;
}

.link{
  color: white;
}

@media screen and (max-width:100%){
  body{
    background-color: olive;
  }
}